<div class="container d-flex align-items-center flex-column">
  <mat-card class="mt-5 w-50">
    <mat-card-title> Create new account </mat-card-title>
    <mat-card-content class="mt-4 d-flex flex-column">
      <i style="color: green" *ngIf="isSuccess" class="ms-4"
        >Sign up successfully !</i
      >
      <i style="color: red" *ngIf="isSuccess === false" class="ms-2"
        >Sign up fail !</i
      >
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="Enter last name"
          [formControl]="firstName"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>last Name</mat-label>
        <input
          matInput
          placeholder="Enter last name"
          [formControl]="lastName"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-form-field">
        <mat-label>DOB</mat-label>
        <input matInput [matDatepicker]="datepicker" [formControl]="dob" required />
        <mat-datepicker-toggle
          matSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>
              Apply
            </button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select [(value)]="selectedGenderId" required>
          <mat-option *ngFor="let gender of genderList" [value]="gender.id">
            {{ gender.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter email"
          [formControl]="email"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Enter username"
          [formControl]="username"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Enter password"
          [formControl]="password"
          required
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="w-100 d-flex justify-content-end m-0">
      <button
        mat-raised-button
        class="goto-login-button"
        (click)="onGoToLogin()"
      >
        Go to Login
      </button>
      <button mat-raised-button color="primary" (click)="onSignUp()">
        Sign Up
      </button>
    </mat-card-actions>
  </mat-card>
</div>
